profiles {
	docker {
		process {
			withName: nextclade {
				container = 'nextstrain/nextclade:latest'
				}
			withName: pangolin {
				container = 'staphb/pangolin:latest'
				}
			withName: lineage_assignment {
				container = 'ufuomababatunde/bammix:v1.1.0'
			}
			withName: bammix {
				container = 'ufuomababatunde/bammix:v1.1.0'
			}
			withName: bam_filter {
				container = 'pegi3s/samtools_bcftools:latest'
			} 
			withName: virstrain {
				container = 'lanadelrea/virstrain:latest'
			}
			withName: virstrain_summary {
				container = 'ufuomababatunde/bammix:v1.1.0'
			} 
			withName: freyja {
				container = 'staphb/freyja:latest'
			} 
			withName: freyja_demix {
				container = 'staphb/freyja:latest'
			}
			withName:	freyja_aggregate {
				container = 'staphb/freyja:latest'
			}
			withName: freyja_plot_summarized {
				container = 'staphb/freyja:latest'
			}
			withName: freyja_plot_lineage {
				container = 'staphb/freyja:latest'
			}
			withName: makevcf {
				container = 'pegi3s/samtools_bcftools:latest'
			}
			withName: bammixplot {
				container = 'ufuomababatunde/bammix:v1.1.0'
 			}
			withName: aafplot_mutations {
				container = 'ufuomababatunde/bammix:v1.1.0'
			}
			withName: aafplot_amplicons {
				container = 'ufuomababatunde/bammix:v1.1.0'
			}
			withName: get_pos_mut {
				container = 'ufuomababatunde/bammix:v1.1.0'
			}
			withName: ampliconsorting {
				container = 'lindenb/jvarkit:1b2aedf24'
			}
			withName: report {
				container = 'ufuomababatunde/rmarkdown:1.1.0'
			} 
		}
	}
	conda {
		process {
			withName: nextclade {
				conda = 'Katmon/envs/nextclade.yml'
				}
			withName: pangolin {
				conda = 'Katmon/envs/pangolin.yml'
				}
			withName: lineage_assignment {
				conda = 'Katmon/envs/bammix.yml'
			}
			withName: bammix {
				conda = 'Katmon/envs/bammix.yml'
			}
			withName: bam_filter {
  			conda = 'Katmon/envs/samtools_bcftools.yml'				
			} 
			withName: virstrain {
  			conda = 'Katmon/envs/virstrain.yml'	
			}
			withName: virstrain_summary {
				conda = 'Katmon/envs/bammix.yml'	
			} 
			withName: freyja {
				conda = 'Katmon/envs/freyja.yml'	
			} 
			withName: freyja_demix {
  			conda = 'Katmon/envs/freyja.yml'				
			}
			withName:	freyja_aggregate {
  			conda = 'Katmon/envs/freyja.yml'				
			}
			withName: freyja_plot_summarized {
				conda = 'Katmon/envs/freyja.yml'
			}
			withName: freyja_plot_lineage {
				conda = 'Katmon/envs/freyja.yml'
			}
			withName: makevcf {
				conda = 'Katmon/envs/samtools_bcftools.yml'
			}
			withName: bammixplot {
				conda = 'Katmon/envs/bammix.yml'
 			}
			withName: aafplot_mutations {
				conda = 'Katmon/envs/bammix.yml'
			}
			withName: aafplot_amplicons {
				conda = 'Katmon/envs/bammix.yml'
			}
			withName: get_pos_mut {
				conda = 'Katmon/envs/bammix.yml'
			}
			withName: ampliconsorting {
				conda = 'Katmon/envs/jvarkit.yml'
			}
			withName: report {
                conda = 'Katmon/envs/rmarkdown.yml'
            } 
		}
	}		
}
	
    
docker {
	enabled = true
	temp = 'auto'
	}
  
conda {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):(id g)'
   }
 
params {
  reference = "${baseDir}/assets/sars-cov-2/reference-sequence.fasta"
  GISAID_reference = "${baseDir}/assets/sars-cov-2/GISAID_reference.fasta"
  SC2_dataset = "${baseDir}/assets/sars-cov-2"
  primer_scheme = "${baseDir}/assets/primer-schemes/nCoV-2019/V4.1/SARS-CoV-2.scheme.bed"

  bammix_thresh = 0.8
  virstrain_database = "${baseDir}/assets/Custom_DB"
  //virstrain_txt_dir = "${params.out_dir}/03-VirStrain/VirStrain_txt"

  annot="${baseDir}/assets/freyja-data/NC_045512_Hu-1.gff"
  ref="${baseDir}/assets/freyja-data/NC_045512_Hu-1.fasta"

  mutations_table = "${baseDir}/assets/mutations.tsv"

  jvarkit_jar = "${baseDir}/bin/jvarkit.jar"
  sort_reads = "${baseDir}/bin/sort_reads.java"
  
  sort_delta_reads = "${baseDir}/bin/sort_delta_reads.js"
  sort_omicron_reads = "${baseDir}/bin/sort_omicron_reads.js"

  report_r = "${baseDir}/bin/summary-report.R"
  report_rmd = "${baseDir}/bin/summary-report.Rmd"
  report_rmd_no_bammix = "${baseDir}/bin/summary-report-no-bammix.Rmd"

  help = false
}

process {
  withName: 'demix' {
    memory = '8 GB'
    cpus = 2
  }
}