process.shell = '/bin/bash'

profiles { 
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'

        process {
            withName: merge {
              container = 'pipecraft/pandaseq:2.11'
            }
            withName: pangolin {
              container = 'staphb/pangolin:latest'
            }
            withName: nextclade {
              container = 'nextstrain/nextclade:latest'
            }
            withName: summary {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: bammix {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: positions {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: bammix_process {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: flagged_positions {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: flagged_samples {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: makevcf {
              container = 'staphb/bcftools:latest'
            }
            withName: bcftools {
              container = 'staphb/bcftools:latest'
            }
            withName: virstrain_process {
              container = 'lanadelrea/virstrain:v0.3.0'
            }
            withName: wrangling {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: variants {
              container = 'staphb/freyja:latest'
            }
            withName: demix {
              container = 'staphb/freyja:latest'
            }
            withName: aggregate {
              container = 'staphb/freyja:latest'
            }
            withName: plot_summarized {
              container = 'staphb/freyja:latest'
            }
            withName: plot_lineage {
              container = 'staphb/freyja:latest'
            }
            withName: list_lineages {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: get_lineage_def {
              container = 'staphb/freyja:latest'
            }
            withName: mutations {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: get_pos_mut {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: ampliconsorting {
              container = 'maelanade/jvarkit:1.0'
            }
            withName: consensus {
              container = 'maelanade/consensus:1.0'
            }
            withName: renamefasta {
              container = 'nanozoo/seqkit:latest'
            }
            withName: bammixplot {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: aafplots {
              container = 'ufuomababatunde/bammix:v1.1.0'
            }
            withName: generation {
              container = 'ufuomababatunde/rmarkdown:1.1.0'
            }
        }
    }
	  conda {
	    conda.enabled           = true
	    conda.temp              = 'auto'
	    conda.runOptions        = '-u $(id -u):(id g)'


      process {
          withName: merge {
            conda = '${baseDir}/envs/pandaseq.yml'
          }
          withName: pangolin {
            conda = '${baseDir}/envs/pangolin.yml'
          }
          withName: nextclade {
            conda = '${baseDir}/envs/nextclade.yml'
          }
          withName: summary {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: bammix {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: positions {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: bammix_process {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: flagged_positions {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: flagged_samples {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: makevcf {
            conda = '${baseDir}/envs/samtools_bcftools.yml'
          }
          withName: bcftools {
            conda = '${baseDir}/envs/samtools_bcftools.yml'
          }
          withName: virstrain_process {
            conda = '${baseDir}/envs/virstrain.yml'
          }
          withName: wrangling {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: variants {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: demix {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: aggregate {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: plot_summarized {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: plot_lineage {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: list_lineages {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: get_lineage_def {
            conda = '${baseDir}/envs/freyja.yml'
          }
          withName: mutations {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: get_pos_mut {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: ampliconsorting {
            conda = '${baseDir}/envs/jvarkit.yml'
          }
          withName: consensus {
            conda = '${baseDir}/envs/consensus.yml'
          }
          withName: renamefasta {
            conda = '${baseDir}/envs/seqkit.yml'
          }
          withName: bammixplot {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: aafplots {
            conda = '${baseDir}/envs/bammix.yml'
          }
          withName: generation {
            conda = '${baseDir}/envs/rmarkdown.yml'
          }
       }
    }
}

params {
  reference = "${baseDir}/assets/sars-cov-2/reference-sequence.fasta"
  GISAID_reference = "${baseDir}/assets/sars-cov-2/GISAID_reference.fasta"
  SC2_dataset = "${baseDir}/assets/sars-cov-2"
  primer_scheme = "${baseDir}/assets/primer-schemes/nCoV-2019/V4.1/SARS-CoV-2.scheme.bed"

  bammix_thresh = 0.8
  virstrain_database = "${baseDir}/assets/Custom_DB"

  annot="${baseDir}/assets/freyja-data/NC_045512_Hu-1.gff"
  ref="${baseDir}/assets/freyja-data/NC_045512_Hu-1.fasta"

  mutations_table = "${baseDir}/assets/mutations.tsv"

  jvarkit_jar = "${baseDir}/bin/jvarkit.jar"
  sort_reads = "${baseDir}/bin/sort_reads.java"
  
  sort_delta_reads = "${baseDir}/bin/sort_delta_reads.js"
  sort_omicron_reads = "${baseDir}/bin/sort_omicron_reads.js"

  report_r = "${baseDir}/bin/summary-report.R"
  report_rmd = "${baseDir}/bin/summary-report.Rmd"
  report_rmd_no_bammix = "${baseDir}/bin/summary-report-no-bammix.Rmd"

  help = false
}

process {
  withName: 'demix' {
    memory = '8 GB'
    cpus = 2
  }
  withName: 'ampliconsorting' {
    memory = '8 GB'
    cpus = 2
  }
}