process.shell = '/bin/bash'

profiles { 
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
	conda {
	    conda.enabled           = true
	    conda.temp              = 'auto'
	    conda.runOptions        = '-u $(id -u):(id g)'
    }
}
 
params {
  reference = "${baseDir}/assets/sars-cov-2/reference-sequence.fasta"
  GISAID_reference = "${baseDir}/assets/sars-cov-2/GISAID_reference.fasta"
  SC2_dataset = "${baseDir}/assets/sars-cov-2"
  primer_scheme = "${baseDir}/assets/primer-schemes/nCoV-2019/V4.1/SARS-CoV-2.scheme.bed"

  bammix_thresh = 0.8
  virstrain_database = "${baseDir}/assets/Custom_DB"

  annot="${baseDir}/assets/freyja-data/NC_045512_Hu-1.gff"
  ref="${baseDir}/assets/freyja-data/NC_045512_Hu-1.fasta"

  mutations_table = "${baseDir}/assets/mutations.tsv"

  jvarkit_jar = "${baseDir}/bin/jvarkit.jar"
  sort_reads = "${baseDir}/bin/sort_reads.java"
  
  sort_delta_reads = "${baseDir}/bin/sort_delta_reads.js"
  sort_omicron_reads = "${baseDir}/bin/sort_omicron_reads.js"

  report_r = "${baseDir}/bin/summary-report.R"
  report_rmd = "${baseDir}/bin/summary-report.Rmd"
  report_rmd_no_bammix = "${baseDir}/bin/summary-report-no-bammix.Rmd"

  help = false
}

process {
  withName: 'demix' {
    memory = '8 GB'
    cpus = 2
  }
  withName: 'ampliconsorting' {
    memory = '8 GB'
    cpus = 2
  }
}